<!DOCTYPE html>
<html>
  <head>
    <title>JP Dance Co-op</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Asap|Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
    <div id="app">
      <div id="app-bar">
        <div id="logo-container">
          <%= image_tag "logo.png", alt: "JP Dance Co-op logo", id: "logo" %>
          <div id="social-media-links">
            <a href="mailto:JPDanceCoop@gmail.com">
              <%= image_tag "email.png", id: "email" %>
            </a>
            <a href="https://www.facebook.com/JPDanceCoop/">
              <%= image_tag "facebook.svg", id: "facebook" %>
            </a>
          </div>
        </div>
        <div id="navlinks">
          <%= active_link_to "Home", "/", active: :exclusive, class: "navlink" %>
          <%= active_link_to "About", "/about", class: "navlink" %>
          <%= active_link_to "Classes+Events", "/classes", class: "navlink" %>
          <%= active_link_to "Contact", "/contact", class: "navlink" %>
        </div>
      </div>

      <%= yield %>
    </div>
    <div id="footer">
      <div>
        © JP Dance Co-Op, 2020 | jpdancecoop@gmail.com
      </div>
      <div>
        <a href="mailto:JPDanceCoop@gmail.com">
          <%= image_tag "email.png", id: "email" %>
        </a>
        <a href="https://www.facebook.com/JPDanceCoop/">
          <%= image_tag "facebook.svg", id: "facebook" %>
        </a>
      </div>
    </div>
  </body>
</html>
