<!DOCTYPE html>
<html>
  <head>
    <title>JP Dance Co-op</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Cambay|Montserrat|Muli&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app-bar">
      <img id="logo" alt="JP Dance Co-op logo" src="/assets/logo.png"></img>
      <div id="navlinks">
        <a href="/" class="navlink">Home</a>
        <a href="/about" class="navlink">About</a>
        <a href="/classes" class="navlink">Classes+Events</a>
        <a href="/photos" class="navlink">Gallery</a>
        <a href="/contact" class="navlink">Contact</a>
      </div>
      <div id="social-media-links">
        <a href="mailto:JPDanceCoop@gmail.com">
          <img id="email" src="/assets/email.png"></img>
        </a>
        <a href="https://www.facebook.com/JPDanceCoop/">
          <img id="facebook" src="/assets/facebook.svg"></img>
        </a>
        </div>
    </div>

    <div id="hero-image"></div>

    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
