<!DOCTYPE html>
<html>
  <head>
    <title>JP Dance Co-op</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+JP&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app-bar">
      <img id="logo" alt="JP Dance Co-op logo" src="/assets/logo.png"></img>
      <div id="navlinks">
        <span class="navlink">Home</span>
        <span class="navlink">About</span>
        <span class="navlink">Classes+Events</span>
        <span class="navlink">Gallery</span>
        <span class="navlink">Contact</span>
      </div>
      <div id="social-media-links">
        <a href="mailto:JPDanceCoop@gmail.com">
          <img id="email" src="/assets/email.png"></img>
        </a>
        <a href="https://www.facebook.com/JPDanceCoop/">
          <img id="facebook" src="/assets/facebook.svg"></img>
        </a>
        </div>
    </div>

    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>
